@import "tailwindcss";

/* Global reset */


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#app {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}